@media screen and (min-width: 700px) {
    main {
        width: min(90%, 750px);
        margin: 3rem auto;
    }

    form,
    .confirmation {
        padding: 2rem 2.5rem;
    }

    header {
        padding: 2rem;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .checkbox-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 2rem;
    }

    .checkbox-group label {
        margin: 0.4rem 0;
    }

    input[type="submit"] {
        width: 50%;
        margin: 1.5rem auto 0;
    }
}